$color-black: rgb(8, 12, 15);
$color-blue: rgb(12, 20, 26);
$color-green: rgb(29, 54, 29);
$color-darklblue: rgb(43, 59, 82);
$color-white: whitesmoke;
$color-grey: rgb(182, 182, 182);
$color-red: rgb(77, 28, 28);
